<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/585c3fb9-fff1-416c-9d11-bc44a631088e/resourcegroups/WebApplication120240307122120ResourceGroup/providers/Microsoft.Web/sites/WebServiceBack</ResourceId>
    <ResourceGroup>WebApplication120240307122120ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/585c3fb9-fff1-416c-9d11-bc44a631088e/resourceGroups/WebApplication120240307122120ResourceGroup/providers/Microsoft.ApiManagement/service/WebApplicationApiTar/apis/WebApplication1</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webserviceback.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>85f863da-4aed-41d8-b666-246b53de881f</ProjectGuid>
    <MSDeployServiceURL>webserviceback.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebServiceBack</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$WebServiceBack</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>